.gallery {
  display: grid;
  height: 110vh;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr 6fr;
  border-bottom: 1px solid rgba(121, 121, 121, 0.411);
  &-title {
    display: grid;
    place-items: center;
    h1 {
      font-family: "Fredoka One", cursive;
      font-weight: normal;
      font-size: 64px;
      margin-top: 3rem;
      color: #28394027;
    }
  }
  &-images {
    display: grid;
    place-items: center;
    padding: 3% 15%;
    &-div {
      height: 100%;
      width: 100%;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr 1.3fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "img1 img2 img4 "
        "img3 img3 img4";
      .img {
        height: 100%;
        width: 100%;
      }
      .img1 {
        grid-area: img1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        background-image: url("../../Images/Gallery/galleryimg1.png");
      }
      .img2 {
        grid-area: img2;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        background-image: url("../../Images/Gallery/gallery\ img2.png");
      }
      .img3 {
        grid-area: img3;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        background-image: url("../../Images/Gallery/gallery\ img3.png");
      }
      .img4 {
        grid-area: img4;
        background-image: url("../../Images/Gallery/gallery\ img4.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
      }
      
    }
  }
}
.gallery.darkmode {
  background: #000;
  h1 {
    color: #6e88922a;
  }
}
