

    .smallbox{
        width: 100%;
        height: 100%;
        display: grid;
        cursor: pointer;
        pointer-events: visible;
        place-content: center;
        #fline{
            width: 35px;
            height: 5px;
            pointer-events: visible;
            margin: 2px 0;
            background-color: black;
            transform: translateX(-4px);
            border-radius: 4px;
            transition: all 2s ease;
        } 
        .sline{
            width: 35px;
            height: 5px;
            margin: 2px 0;
            background-color: black;
            border-radius: 4px;
            transition: all 2s ease;
            transform: translateX(4px);
        } 
        .tline{
            width: 35px;
            height: 5px;
            margin: 2px 0;
            background-color: black;
            transform: translateX(-4px);
            border-radius: 4px;
            transition: all 2s ease;
        }
    }
    

    .smallbox.darkmode{
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: grid;
        pointer-events: visible;
        place-content: center;
        #fline{
            width: 35px;
            height: 5px;
            pointer-events: visible;
            margin: 2px 0;
            background-color: rgb(255, 255, 255);
            transform: translateX(-4px);
            border-radius: 4px;
            transition: all 1s ease;
        } 
        .sline{
            width: 35px;
            height: 5px;
            margin: 2px 0;
            background-color: rgb(255, 255, 255);
            border-radius: 4px;
            transition: all .5s ease;
            transform: translateX(4px);
        } 
        .tline{
            width: 35px;
            height: 5px;
           
            margin: 2px 0;
            background-color: rgb(255, 255, 255);
            transform: translateX(-4px);
            border-radius: 4px;
            transition: all 1s ease;
        }
    }
    

    // if toggle is clicked the icon will change

    #toggle-navbar{
        
        .fline{
            
            background-color: white;
        }
        .sline{
            opacity: 0;
        }
        .tline{
            background-color: white;
          
        }
    }
    