.footer {
  background-color: rgb(255, 255, 255);
  height: 200px;
  position: relative;
  width: 100vw;
border-top: 1px solid rgba(121, 121, 121, 0.411);
overflow: hidden;
  cursor: none;
}
.footer::before {
  content: "@copyrites2021";
    font-family: "Poppins", sans-serif;
    position: absolute;
    font-weight: 100;
    height: 30px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    /* border-top: 1px solid rgba(121, 121, 121, 0.411); */
    font-size: 18px;
    bottom: 0;
    left: 0;
    background-color: #25363c;
}
#cursor {
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: rgb(0, 0, 0);
  pointer-events: none;
  border-radius: 50%;
  transition: all .15s ease;
  mix-blend-mode: difference;
}
.text {
  color: rgb(255, 255, 255);
}
#dummy {
  height: 30px;
  width: 300px;
  bottom: 0;
  left: 0;
  border-radius: 0;
  position: absolute;
  background-color: rgb(0, 0, 0);
  mix-blend-mode: difference;
  animation: dummy 15s infinite;
  transition: all 2s ease;
}
@keyframes dummy {
  0% {
    bottom: 0;
    left: 0;
  }
  50% {
    bottom: 0;
    left: 78vw;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
.subfooter-div {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.socialmedia-icons-and-navitems {
  width: 50%;
  background-color: rgba(255, 255, 255, 0);
  height: 50%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.sclicons {
  display: flex;

  justify-content: center;
}
.call,
.whatsapp,
.instagram {
  margin: 0 10px;
}
.call {
  position: relative;
  pointer-events: visible;
}
.whatsapp {
  pointer-events: visible;
}
.whatsapp:hover ~ #cursor {
  background-color: #f8a1ab;
}
.call:hover ~ #cursor {
  background-color: #dbae10;
}

.instagram:hover ~ #cursor {
  background: linear-gradient(
    45deg,
    #0e437c 0%,
    #1997c3 25%,
    #23d8bc 50%,
    #33dc99 75%,
    #43e777 100%
  );
}
.nav-items-footer {
  display: flex;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}
.nav-items-footer p {
  margin: 0 8px;
}
.nav-items-footer p a {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-family: "Fredoka One", cursive;

}
.footer.darkmode {
  background-color: rgb(0, 0, 0);
}
.footer.darkmode .whatsapp:hover ~ #cursor {
  background-color: #075e54;
}
.footer.darkmode .call:hover ~ #cursor {
  background-color: #2451ef;
}

.footer.darkmode .instagram:hover ~ #cursor {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #613854 100%
  );
}
.footer.darkmode .nav-items-footer p a {
  color: rgb(255, 255, 255);
  font-weight: 100;
}
.footer.darkmode .nav-items-footer {
  color: rgb(255, 255, 255);
}

.footer.darkmode::before {
  content: "@copyrights2021";
  font-family: "Poppins", sans-serif;
  position: absolute;
  font-weight: 100;
  height: 30px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  bottom: 0;
  left: 0;
}
