.footer{
    height: 150px;
    width: 100vw;
    background: #000;
   
    overflow: hidden;
    display: grid;
    place-items:center ;
    cursor: pointer;
    
    .cursor{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        mix-blend-mode: difference;
        position: fixed;
        background-color: rgb(255, 255, 255);
        
    }
    .text{
        color: white;
    }
    .text:hover{
        
    }
    .dummy{
        background: rgb(255, 0, 0);
        height: 100px;
        width: 100px;
    }
    .dummy:hover{
        width: 120px;
        height: 120px;
    }
}
