@media (min-width: 768px) and (max-width: 1024px) {
  // its for tablets
  // home page

  .home {
    height: auto;
    width: 100vw;
    padding-bottom: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "tog darkmode"
      "title title"
      "img img";
    grid-template-rows: 70px 300px 500px;
    .navbar {
      grid-area: tog;

      .toggle-icon {
        display: block;
      }
      .navbar-div {
        display: none;
      }
    }
    .darkmode {
      grid-area: darkmode;
      padding-right: 1rem;
      .darkmode-div {
      }
    }
    .title {
      grid-area: title;
      margin-top: 20px;
      h1 {
        margin-left: 0;
        font-size: 122px;
        text-align: center;
      }
    }
    .curtain {
      grid-area: img;
      margin-top: 20px;
  
      .curtain-div {
        margin-right: 0;
        margin-bottom: 30px;
        height: 100%;
        .curtain-header-div {
          .curtain-header {
          }
          .curtain-img {
          }
        }
      }
    }
  }
  // then the about page change to responsive

  .about {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    .about-content {
      
      .about-content-div {
        p {
          text-align: center;
          margin-bottom: 30px;
        }
      }
    }
    .about-title{
      grid-row-start: 1;
      grid-row-end: 2;
      &-div{
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
  }
}
