@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
  width: 100vw;
  overflow-x: hidden;
}