@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
  width: 100vw;
  overflow-x: hidden;
}



/* the font family of the heading 
font-family: "Fredoka One", cursive;
*/


/* border-bottom: 1px solid rgba(121, 121, 121, 0.411); */

/* the color  */

/* lighmode  *//* lighmode  *//* lighmode  *//* lighmode  */

/* backgroundcolor = #fff */
/* heading textcolor = #283940 */
/* paragraph color = #000000b5 */



/* darkmode *//* darkmode *//* darkmode */

/* backgroundcolor = #000 */
/* heading textcolor = #6e8892 */
/* paragraph color = #ffffff73 */




/* API KEY OF THE MAP = AIzaSyBG6wXRBvKpDznYBt33bh3vFR4ZLKIlWfQ */